<section>
<div class="navigation">
 <div class="hamburger">
   <%= link_to categories_path do%>
   <span class="back-icon">&#10092;</span>
   <%end%>
 </div>
  <h1>Transactions</h1>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign-out-butt" %>
</div>
<h1>Transactions for <span><%=@category.name%></h1>
<div>TOTAL: $<%=@category.total_amount%></div>

<div id="records">
<%if @records.length == 0%>
  <p>no transaction yet,kindly add one</p>
<%else%>
  <% @records.each do |record| %>
    <%= render record %>
    <%end%>
  <% end %>
</div>
<div class="nw-transact-but">
 <%= link_to "Add New transaction", new_category_record_path(@category)%>
</div>


</section>



 